/* .logo{
    font-weight: 500;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
}
.footer{
    border-top-right-radius: 50px;
    color: white;
    height: 250px;
    background-color: rgb(15, 16, 29);
    display: flex;
    justify-content: space-evenly;
    padding: 3em 3em 0 3em;
     align-items: center; */
/*}
li{
    list-style: none;
}
.footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}
.footer .products{
    height: 200px;
} */
